body {
    background: #e3e3e3;
}

.alert-light {
    border-color: #bfbfbf;
}

.navbar {
    border-color: #bfbfbf;
    color: #a85757;
}

.tg_admin {
    color: #346a32;
}

.message {
    display: block;
    opacity: 1;
    transition: opacity 4.05s linear;
}

.message.fade-out {
    opacity: 0;
}
