body {
    background: #e3e3e3;
}

.alert-light {
    border-color: #bfbfbf;
}

.navbar {
    border-color: #bfbfbf;
    color: #e31010;
}

.tg_admin {
    color: #346a32;
}

.message {
    display: block;
    opacity: 1;
    transition: opacity 4.05s linear;
}

.message.fade-out {
    opacity: 0;
}
/* Стили для profile.html (для личного кабинета)*/
.profile-info-container {
    width: 300px;
}
.profile-info-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.profile-label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
.profile-value {
    flex-grow: 1;
}