{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#ШАПКА#}
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><h2>rrБЛОГГ</h2></a>

        {# Кнопки   #}
        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 ml-3">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'register' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'user' %}">Войти</a>
                </li>
            </ul>

            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>

        {% if massages %}
            {% for mess in massages %}
                <div class="alert alert-success">{{ mess }}</div>
            {% endfor %}
        {% endif %}

        <aside class="col-md-4">
            <h3>
                Боковая часть и маленькое изменение
            </h3>

            Ещё один текст, который я тута пишу
            </h4>

        </aside>
    </div>
</div>


</body>
</html>