{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">

        {% csrf_token %} {#  Токен, позволяющий передавать данные   #}
        {{ form.as_p }}
        <button class="btn" type="submit">Вход</button>

        <p>
            <br>
            Ещё не зарегистрированы? &nbsp;&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="{% url 'sig' %}">Зарегестрироваться</a>
        </p>
    </form>

{% endblock %}

