{% extends 'blog/base.html' %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
    <h1>Личный кабинет</h1>
    <br>
    <br>
    
    
    <div class="profile-info-container">
        <div class="profile-info-row">
            <span class="profile-label">Юзернейм :</span>
            <span class="profile-value">{{ user.username }}</span>
        </div>
        
        <div class="profile-info-row">
            <span class="profile-label">email :</span>
            <span class="profile-value">{{ user.email }}</span>
        </div>
    </div>
{% endblock %}

