{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
    <h1>Личный кабинет</h1>
    <br>
    <br>
    
    <div class="d-flex text-body-secondary pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
           width="64" height="64" 
           src="">
        
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark"><font style="vertical-align: inherit;">
            <span class="profile-value">{{ user.username }}</span>
            <br>
            <span class="profile-value">{{ user.email }}</span>
        </strong>
      </p>
    </div>
    
    
{% endblock %}

